.body{
    margin: 0%;
    padding: 0%;
    background-color: white;
   
}
.container{
    display: block;
    width: 40%;
    height: 500px;
    border: 1px solid red;
    background-color: blue;
    border-radius: 12px;
margin: auto ;
margin-top:54px ;
}
.box{
    display: block;
   width: 170px;
    height: 180px;
    border: 4px solid rgb(210, 211, 222);
    border-radius: 50%;
    margin: auto;
    margin-top: 44px;
    overflow: hidden;
  

}

.box:hover{
    background-color: red;
}
.image{
display: block;
   width: 80px;
    height: 80px;
    border: 3px solid rgb(139, 147, 138);
    border-radius: 50%;
    margin: auto;
    margin-top: 15px;
}
.eye{
display: flex;
margin-bottom: 0%;
}
.image .eye1{
display: block;
width: 10px;
    height: 10px;
    border: 3px solid rgb(139, 147, 138);
    border-radius: 50%;
    margin: 25px 12px;
    margin-bottom: 0%;
}
.eye2{
display: block;

width: 10px;
    height: 10px;
    border: 3px solid rgb(139, 147, 138);
    border-radius: 50%;
    margin: 25px 12px;
    margin-bottom: 4%;
   
}

.mouth{
display: block;
width: 30px;
    height: 20px;
    border: 3px solid rgb(139, 147, 138);
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;

    border-top: none;
    border-left: none;
    border-right: none;
}
.image_formation{
display: block;
   width: 80%;
    height: 24%;
    border: 3px solid rgb(169, 172, 163);
    border-bottom: none;
 border-top-right-radius: 22px;
 border-top-left-radius: 22px;
 
    margin: auto;
    
}
h2{
display: block;
color: white;
margin-top: 5px;
text-align: center;
}

.information{
display: block;

margin-top:14px ;

}
.information img{
display: block;
position: absolute;
margin-left: 6.6%;
width: 2%;
height: 28px;
margin-top: 3px;

/* color: black; */
}
.information .user{
display: block;
width: 60%;
border: none;
padding-left: 6%;
height: 30px;
border-radius: 4px;
margin: 2% auto;




}

input:invalid{
animation: shake;
animation-duration:.1s;
animation-iteration-count: infinite;
color: red;

}
@keyframes shake{
25%{
    translate: 6px 0px;
}
50%{
    translate: -6px 0px;
}
75%{
    translate: 6px 0px;
}
}
button{
display: block;
width: 67%;


height: 30px;
border-radius: 4px;
margin: 4px auto;

}
button:hover{
background-color: rgb(205, 31, 31);
cursor: pointer;

}
.information a{
display: block;
margin-right:22% ;
text-align: right;
color: rgb(245, 245, 245);
}
.information a:hover{
color: rgb(67, 226, 43);
}
.Conditions{
display: inline;
margin-left: 16%;
}
label:hover{
cursor: pointer;
color: red;
text-decoration: underline;
}

/* responsive */

@media screen and (max-width:470px){
    .box{
       
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .image{
        width: 50px;
        height: 50px;
    }
    .image .eye1{
        display: block;
        width: 5px;
            height: 5px;
        margin: auto ;
    margin-top: 15px;
    }
             .eye2{
                display: block;
                width: 5px;
                    height: 5px;
                    margin: auto ;    margin-top: 15px;}
                    h2{
                        font-size: 18px;
                    }
                    a{
                        display: block;
                        font-size: 12px;
                      
                    }
                    label{
                        display: block;
                        font-size: 12px;
                      
                    }
                  
}